@function text-retro($color:black, $depth:8) {
    $shadows: (1px 1px $color, );
    @for $i from 2 through $depth {
        $shadows: append($shadows,
        ($i * 1px) ($i * 1px) $color, comma);
    }
    @return $shadows;
}

.App {
    min-height: 100vh;
    background: #ccc;
    .background {
        box-sizing: border-box;
        background: url('//oymcd876b.bkt.clouddn.com/background.jpg') 0 / cover fixed;
        background-size: 100% 100%;
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        main {
            position: relative;
            padding: 1em;
            background: rgba(255, 255, 255, .25) border-box;
            overflow: hidden;
            border-radius: .3em;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset,
            0 .5em 1em rgba(0, 0, 0, 0.6);
            font-size: 20px;
            color: rgb(255, 255, 204);
            animation-duration: 1.5s;
            animation-delay: 1.5s;
            &::before {
                background: url('//oymcd876b.bkt.clouddn.com/background.jpg') 0 / cover fixed;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: -30px;
                z-index: -1;
                -webkit-filter: blur(20px);
                filter: blur(20px);
            }
            blockquote {
                text-align: center;
                font-style: italic;
                text-shadow: text-retro();
                transition: 1s;
                &:hover {
                    text-shadow: 0 0 .1em rgb(255, 255, 204), 0 0 .3em rgb(255, 255, 204);
                }
                cite {
                    font-style: normal;
                }
            }
        }
        .cartoon-left {
            opacity:0;
            position: absolute;
            width: 46vh;
            height: 98vh;
            left: 3vh;
            top: 2vh;
            animation: fadeLeft;
            animation-duration: 2s;
            animation-delay: .8s;
            animation-fill-mode: forwards;
        }
        .cartoon-right {
            opacity:0;
            position: absolute;
            width: 46vh;
            height: 98vh;
            right: 3vh;
            top: 2vh;
            animation: fadeRight;
            animation-duration: 2s;
            animation-delay: .8s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: .8;
        transform: none;
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: .8;
        transform: none;
    }
}

@media screen and(max-device-width:500px) {
    .App {
        .background {
            .cartoon-left {
                left: -20vh;
            }
            .cartoon-right {
                right: -20vh;
            }
        }
    }
}